.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main__container {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 20px;
    position: relative;
}

.main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__title {
    font-size: 50px;
    font-weight: 500;
}

.main__title {}

.tools__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tools__range {
    -webkit-appearance: none;
    background-color: #424242;
    height: 5px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
}

.tools__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.tools__settings-result {
    display: flex;
    gap: 20px;
}

.settings {
    background-color: #272727;
    height: 55px;
    border-radius: 5px;
    color: #fff;
    padding-left: 5px;
    font-size: 18px;
    position: relative;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.settings__title {
    position: absolute;
    font-size: 14px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #888888;
}

.settings__input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    text-align: center;
    height: 70%;
}

.result__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 10px;
    background-color: #272727;
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
    padding: 10px;
    height: 55px;
    position: relative;
}

.result__title {
    position: absolute;
    font-size: 14px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #888888;
}

.generated-pincode {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
}

.copy-icon {
    cursor: pointer;
    position: absolute;
    right: -25px;
    bottom: 0;
}

.clip-icon {
    max-width: 20px;
}

.main__button {
    color: #fff;
    background-color: #272727;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    transition: .3s;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.main__button:hover {
    background-color: #181818;
    color: #a7a7a7;
}

.button-disabled {
    background-color: #181818;
    color: #a7a7a7;
    cursor: not-allowed;
}

.notification {
    background-color: #272727;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transition: .3s;
    opacity: 0;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    width: fit-content;
    padding: 15px 15px;
}

@media (max-width: 1745px) {
    .main__container {
        flex-direction: column;
    }

    .back-button {
        position: static;
        margin-bottom: -10px;
    }
}

@media (max-width: 925px) {
    .tools__container {
        flex-direction: column;
    }
}

@media (max-width: 605px) {
    .main__title {
        font-size: 34px;
    }

}

@media (max-width: 435px) {
    .main__title {
        font-size: 24px;
    }

    .main__button {
        font-size: 18px;
    }

    .main__content {
        gap: 20px;
    }

    .tools__settings-result {
        flex-direction: column;
    }

    .settings {
        max-width: 100%;
    }
}